.weather {
  border: 1px solid black;
  padding: 16px;
  margin: 30px auto;
  border-radius: 4px;
  background-color: burlywood;
}

.weather form {
  margin-bottom: 10px;
}

.weather h1 {
  color: black;
  font-size: 36px;
  font-weight: 100;
  line-height: 29px;
  font-family: "Mate SC", serif;
  padding: 14px;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  color: black;
  list-style: none;
}

.weather img {
  margin-right: 10px;
}
.weather .temperature {
  font-weight: bold;
  font-size: 36px;
}

.weather .unit {
  font-size: 16px;
  position: relative;
  top: -14px;
  margin-left: 5px;
}
